<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lysine TCGA Web Server</title>
    {% load static %}
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{#action={% url "user_upload:user_upload" %} #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.input_text.errors }}
            {{ form.input_text.label_tag }}
            {{ form.input_text }}
            {% if input_text.error %}
                input_text.error
            {% endif %}
        </div>
        <div>
            {{ file_upload_rule }}
        </div>
        <div>
            {{ form.elm_file.errors }}
            {{ form.elm_file.label_tag }}
            {{ form.elm_file }}
            <p {% if elm_file_error %} {% endif %}>
                {{ elm_file_error }}
            </p>
        </div>
        <div>
            {{ form.vcf_file.errors }}
            {{ form.vcf_file.label_tag }}
            {{ form.vcf_file }}
            <p {% if vcf_file_error %} {% endif %}>
                {{ vcf_file_error }}
            </p>
        </div>
        <div>
            {{ form.tab_file.errors }}
            {{ form.tab_file.label_tag }}
            {{ form.tab_file }}
            <p {% if tab_file_error %} {% endif %}>
                {{ tab_file_error }}
            </p>
            <p id="upload_error" {% if file_upload_error %} {% endif %}>
                {{ file_upload_error }}
            </p>
        </div>
        <div id="upload_success">
            <p  {% if file_upload_success %} {% endif %}>
                {{ file_upload_success }}
            </p>
        </div>
        <div>
            {{ form.organism.errors }}
            {{ form.organism.label_tag }}
            {{ form.organism }}
        </div>
        <div>
            {{ form.modification.errors }}
            {{ form.modification.label_tag }}
            {{ form.modification }}
        </div>
        <div>
            {{ form.cancer.errors }}
            {{ form.cancer.label_tag }}
            {{ form.cancer }}
        </div>
        <div>
            {{ form.threshold.errors }}
            {{ form.threshold.label_tag }}
            {{ form.threshold }}
        </div>
        <div>
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <input id="upload_file" type="submit" value="upload file" onclick="upload()" />
    </form>
    <!------- 如果上传成功会有提示长传成功并开始运算 ---------------->
    <div  {% if upload_success %}{% endif %}>
        {{ upload_success }}
    </div>
    <br />
    <br />
    <table {% if cnm %} {% endif %}>
        <tr>{{ cnm }}</tr>
    </table>
</body>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // 指定这些方法不需要 CSRF 保护
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
        var csrftoken = getCookie('csrftoken');
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var obj = {};
    obj.if_upload = null;
    //用于监听if_upload的值
    Object.defineProperty(obj, 'if_upload',{
        get:function(){
            return if_upload;
        },
        set:function (newValue) {
            if_upload = newValue;
            console.log("set:", newValue);
            if (newValue)
                readLog();
        }
    });

{#    var users_dir = "C:\\Users\\hbs\\Desktop\\Lysine_TCGA\\user_files\\";#}

    function upload() {
        var input_text = $('#id_input_text').val();
        var elm_file = $('#id_elm_file')[0].files[0];
        var vcf_file = $('#id_vcf_file')[0].files[0];
        var tab_file = $('#id_tab_file')[0].files[0];
        var organism = $('#id_organism').val();
        var cancer = $('#id_cancer').val();
        var threshold = $('#id_threshold').val();
        var email = $('#id_email').val();
        var modification = $('#id_modification').val();

        $.ajax({
            method: "post",
            url: "/webserver/user_upload/",
            processData: false,
            data: {"input_text": input_text, "elm_file": elm_file, "vcf_file": vcf_file,
                   "tab_file": tab_file, "modification": modification, "cancer": cancer,
                   "threshold": threshold, "email": email, "organism": organism
            },
            async: true,
{#            success:function (response) {#}
{#                // 一旦请求成功，if_upload变量的值为true#}
{#                if_upload = true;#}
{#                console.log(if_upload);#}
{#                calculate();#}
{#            },#}
            complete: function () {
              console.log("上传完成");
              obj.if_upload = true;
            },
            error:function (r1) {
                // 请求失败，if_upload变量的值为false
{#                obj.if_upload = false;#}
            }
        });
    }

    // 定义一个读取日志的方法，对日志的内容进行获取并调整前端的显示
    function readLog() {
        var cook_info = document.cookie;
        cook_info = cook_info.split(";");
        var username;
        // 首先从cookie中获取用户名
        for (var i = 0; i < cook_info.length; i++) {
            var info = cook_info[i].trim().split("=");
            if (info[0] == "cname") {
                username = info[2].split('"')[0];
                console.log(username);
            }
        }

        $.ajax({
            type: "post",
            url: "/check_log/log_res/",
            dataType: "json",
            data: {"username": username},
            async: false,
            success: function (ret) {
                console.log(ret.log_result);
                console.log("日志查询成功");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus)
            }
        });
    }


</script>
</html>