<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lysine TCGA Web Server</title>
    {% load static %}
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{#action={% url "user_upload:user_upload" %} #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.input_text.errors }}
            {{ form.input_text.label_tag }}
            {{ form.input_text }}
            {% if input_text.error %}
                input_text.error
            {% endif %}
        </div>
        <div>
            {{ file_upload_rule }}
        </div>
        <div>
            {{ form.elm_file.errors }}
            {{ form.elm_file.label_tag }}
            {{ form.elm_file }}
            <p {% if elm_file_error %} {% endif %}>
                {{ elm_file_error }}
            </p>
        </div>
        <div>
            {{ form.vcf_file.errors }}
            {{ form.vcf_file.label_tag }}
            {{ form.vcf_file }}
            <p {% if vcf_file_error %} {% endif %}>
                {{ vcf_file_error }}
            </p>
        </div>
        <div>
            {{ form.tab_file.errors }}
            {{ form.tab_file.label_tag }}
            {{ form.tab_file }}
            <p {% if tab_file_error %} {% endif %}>
                {{ tab_file_error }}
            </p>
            <p id="upload_error" {% if file_upload_error %} {% endif %}>
                {{ file_upload_error }}
            </p>
        </div>
        <div id="upload_success">
            <p  {% if file_upload_success %} {% endif %}>
                {{ file_upload_success }}
            </p>
        </div>
        <div>
            {{ form.organism.errors }}
            {{ form.organism.label_tag }}
            {{ form.organism }}
        </div>
        <div>
            {{ form.modification.errors }}
            {{ form.modification.label_tag }}
            {{ form.modification }}
        </div>
        <div>
            {{ form.cancer.errors }}
            {{ form.cancer.label_tag }}
            {{ form.cancer }}
        </div>
        <div>
            {{ form.threshold.errors }}
            {{ form.threshold.label_tag }}
            {{ form.threshold }}
        </div>
        <div>
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <input id="upload_file" type="submit" value="upload file" onclick="upload()" />
    </form>
    <!------- 如果上传成功会有提示长传成功并开始运算 ---------------->
    <div  {% if upload_success %}{% endif %}>
        {{ upload_success }}
    </div>
    <br />
    <br />
    <table>
        <tr></tr>
    </table>
</body>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // 指定这些方法不需要 CSRF 保护
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
        var csrftoken = getCookie('csrftoken');
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var if_upload = null;
    function upload() {
        var input_text = $('#id_input_text').val();
        var elm_file = $('#id_elm_file')[0].files[0];
        var vcf_file = $('#id_vcf_file')[0].files[0];
        var tab_file = $('#id_tab_file')[0].files[0];

        var modification = $('#id_modification').val();

        $.ajax({
            method: "post",
            url: "/webserver/user_upload/",
            processData: false,
            data: {"input_text": input_text, "elm_file": elm_file, "vcf_file": vcf_file,
                   "tab_file": tab_file, "modification": modification
            },
            async: false,
{#            success:function (response) {#}
{#                // 一旦请求成功，if_upload变量的值为true#}
{#                if_upload = true;#}
{#                console.log(if_upload);#}
{#                calculate();#}
{#            },#}
            complete: function () {
              console.log("上传完成");
              if_upload = true;
              calculate();
            },
            error:function (r1) {
                // 请求失败，if_upload变量的值为false
                if_upload = false;
{#                calculate();#}
            }
        });
    }

    function calculate() {
        if (if_upload){
            console.log(if_upload);
            if_upload = null;
            var organism = $('#id_organism').val();
            var cancer = $('#id_cancer').val();
            var threshold = $('#id_threshold').val();
            var email = $('#id_email').val();
            var modification = $('#id_modification').val();
            $.ajax({
                method: "post",
                url: "/test/elm_res/",
                processData: false,
                data: {"modification": modification, "organism": organism,
                       "cancer": cancer, "threshold": threshold, "email": email
                },
                async: true,
                complete: function () {
                    console.log("wancheng")
                },
                error: function (r1) {
                    console.log("calculation的ajax请求失败");
                }
            })
        }
        else{
            console.log("cnm");
            if_upload = null;

        }

    }


</script>
</html>