<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test result</title>
{#    {% load static %}  https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js#}
    <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
</head>
<body>
    <h2>Lysine TCGA</h2>
    <!----------- 这里可以换成 div ---------------->
    <div>
        <p><b>user:</b>&nbsp;&nbsp;<span style="color: darkblue" {% if user_name %}{% endif %}><b>{{ user_name }}</b></span></p>
        <p><b>submit time:</b>&nbsp;&nbsp;<span style="color: darkblue" {% if submit_time %}{% endif %}><b>{{ submit_time }}</b></span></p>
        <p><b>status:</b>&nbsp;&nbsp;<b><span id="task_status" style="color: darkblue" {% if status %}{% endif %}>{{ status }}</span></b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="download_result">download</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="back_to_server">back</button>
        </p>
    </div>
    <div>
    <table id="result_table" style="visibility: hidden" border="1" {% if test_result %}{% endif %}>
    <thead>
        <tr>
            <th>Cancer Type</th>
            <th>Uniprot Accession</th>
            <th>Position</th>
            <th>Location</th>
            <th>From</th>
            <th>To</th>
            <th>TCGA Patient ID</th>
        </tr>
    </thead>
    <tbody id="result_table_body">
        {% for v in test_result %}
            <!---- v是列表，django的template中只能这种形式表示，一般python中索引会报错 ---->
            <tr>
                <td>{{ v.0 }}</td>
                <td>{{ v.1 }}</td>
                <td>{{ v.2 }}</td>
                <td>{{ v.3 }}</td>
                <td>{{ v.4 }}</td>
                <td>{{ v.5 }}</td>
                <td>{{ v.6 }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    <div style="padding-top: 20px">
    <table id="summary_table" style="visibility: hidden" border="1" {% if summary %} {% endif %}>
        <thead>
        <tr>
            <th>Uniport Accession</th>
            <th>Motif length</th>
            <th>Background length</th>
            <th>Significant</th>
            <th>FDR</th>
        </tr>
        </thead>
        <tbody id="summary_tbody">
        {% for v in summary %}
        <tr>
            <td>v.0</td>
            <td>v.1</td>
            <td>v.2</td>
            <td>v.3</td>
            <td>v.4</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    <div id="fail_reason" {% if fail_reason %}{% endif %}>
        <p style="padding-left: 30px;"><b>{{ fail_reason }}</b></p>
    </div>
    <div id="visulize" {% if visulize %}{% endif %}>
        <img src="{{ visulize }}">
    </div>
</body>
<script>
    $("#back_to_server").click(function () {
        window.location.href="/webserver/user_upload/";
    });

    $("#download_result").click(function () {
        var username = get_uname();
        console.log(username);
        var target_url = "/user_download/"+username+"/download/";
        console.log(target_url);
        window.location.href= target_url;
    });

    var load = true;
    if (load){
        var tableObj = document.getElementById("result_table_body").rows[0];
        if (tableObj != null){
            $("#result_table").css("visibility", "visible");
            $("#summary_table").css("visibility", "visble");
            load = false;
        }
    }
</script>
</html>